# Inheritance

In [1]:
class Person:

    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"My name is {self.name} and age is {self.age} years")

In [2]:
class Employee(Person):

    def __init__(self, name: str, age: int, company: str):
        super().__init__(name, age)
        self.company = company

    def work(self):
        print(f"I work for {self.company}")

In [3]:
p1 = Person(name = "Rahul", age = 28)
type(p1)

__main__.Person

In [4]:
p1.name

'Rahul'

In [5]:
p1.age

28

In [6]:
p1.introduce()

My name is Rahul and age is 28 years

In [7]:
e = Employee(name = "Raman", age = 30, company="TCS")
type(e)

__main__.Employee

In [8]:
e.name

'Raman'

In [9]:
e.age

30

In [10]:
e.company

'TCS'

In [11]:
e.introduce()

My name is Raman and age is 30 years

In [12]:
e.work()

I work for TCS

In [13]:
e.introduce()
e.work()

My name is Raman and age is 30 years
I work for TCS

In [14]:
e2 = Employee(name = "Rahul", age=28, company="Infosys")
e2.introduce()
e2.work()

My name is Rahul and age is 28 years
I work for Infosys

# Multilevel Inheritance
Parent -> Child -> Grandchild

In [35]:
class Employee:

    def __init__(self, emp_id: int, name: str):
        self.emp_id = emp_id
        self.name = name

    def get_emp_info(self):
        print(f"Employee id : {self.emp_id}, Employee name : {self.name}")

In [36]:
class Manager(Employee):

    def __init__(self, emp_id, name, dept):
        super().__init__(emp_id, name)
        self.dept = dept

    def get_dept(self):
        print(f"Departement : {self.dept}")

In [37]:
class ProjectManager(Manager):

    def __init__(self, emp_id, name, dept, project):
        super().__init__(emp_id, name, dept)
        self.project = project

    def get_project_info(self):
        print(f"Project name : {self.project}")

In [38]:
e = Employee(emp_id=103, name="Raman")
e.emp_id

103

In [39]:
e.name

'Raman'

In [40]:
m = Manager(emp_id = 102, name = "Sarthak", dept = "Engg.")
m.emp_id

102

In [41]:
m.name

'Sarthak'

In [42]:
m.dept

'Engg.'

In [43]:
m.get_emp_info()

Employee id : 102, Employee name : Sarthak

In [44]:
m.get_dept()

Departement : Engg.

In [45]:
m.get_emp_info()
m.get_dept()

Employee id : 102, Employee name : Sarthak
Departement : Engg.

In [46]:
pm1 = ProjectManager(emp_id = 101, name = "Rahul", dept = "Engg.", project="JLR")
pm1.emp_id

101

In [47]:
pm1.name

'Rahul'

In [48]:
pm1.dept

'Engg.'

In [49]:
pm1.project

'JLR'

# Multiple Inheritance

In [51]:
class BaseSalary:

    def __init__(self, sal: float):
        self.sal = sal

    def get_base_salary(self):
        return self.sal

In [65]:
class Bonus:

    def __init__(self, bonus_per: float):
        self.bonus_per = bonus_per 
    
    def calculate_bonus(self, base_sal):
        bonus = (self.bonus_per / 100) * base_sal
        return bonus

In [66]:
class Tax:

    def __init__(self, tax_per):
        self.tax_per = tax_per

    def calculate_tax(self, gross_sal):
        tax = (self.tax_per / 100) * gross_sal
        return tax

In [67]:
class TotalSalary(BaseSalary, Bonus, Tax):

    def __init__(self, sal, bonus_per, tax_per):
        BaseSalary.__init__(self, sal)
        Bonus.__init__(self, bonus_per)
        Tax.__init__(self, tax_per)

    def calculate_salary(self):
        base_sal = self.get_base_salary()
        bonus = self.calculate_bonus(base_sal)
        gross_sal = base_sal + bonus
        tax = self.calculate_tax(gross_sal)
        total_sal = gross_sal - tax
        return total_sal

In [68]:
t1 = TotalSalary(sal = 50000, bonus_per=10, tax_per=12)
t1.sal

50000

In [69]:
t1.bonus_per

10

In [70]:
t1.tax_per

12

In [71]:
t1.calculate_salary()

48400.0

In [72]:
t1.get_base_salary()

50000

In [73]:
t1.calculate_bonus(10000)

1000.0

In [74]:
t1.calculate_tax(20000)

2400.0

# Hierarchical inheritance

In [75]:
class Shape:

    def __init__(self):
        pass

    def perimeter(self):
        pass

    def area(self):
        pass 

    def get_area_perimeter(self):
        print(f"Perimeter : {self.perimeter()}")
        print(f"Area : {self.area()}")

In [76]:
class Rectangle(Shape):

    def __init__(self, length, height):
        super().__init__()
        self.length = length
        self.height = height

    def perimeter(self):
        return 2 * (self.length + self.height)
    
    def area(self):
        return self.length * self.height

In [78]:
import math

class Circle(Shape):

    def __init__(self, radius):
        super().__init__()
        self.radius = radius

    def perimeter(self):
        return 2 * math.pi * self.radius
    
    def area(self):
        return math.pi * (self.radius ** 2)

In [80]:
s = [
    Circle(radius = 21),
    Rectangle(length = 10, height = 20),
    Rectangle(length = 11, height = 12),
    Circle(radius = 30)
]

for i in s:
    print(type(i))
    i.get_area_perimeter()
    print("============================")

<class '__main__.Circle'>
Perimeter : 131.94689145077132
Area : 1385.4423602330987
============================
<class '__main__.Rectangle'>
Perimeter : 60
Area : 200
============================
<class '__main__.Rectangle'>
Perimeter : 46
Area : 132
============================
<class '__main__.Circle'>
Perimeter : 188.49555921538757
Area : 2827.4333882308138
============================