# Exception Handling

In [1]:
a = 5
print(a / 0)

ZeroDivisionError: division by zero

In [2]:
"abc" / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
a = "23"
print(type(a))
b = int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [4]:
b = "two"
c = int(b)

ValueError: invalid literal for int() with base 10: 'two'

# Division function without exception handling

In [5]:
def division(num: float, den: float):
    return num / den

In [6]:
division(3, 4)

0.75

In [8]:
r = division(4, 5)
print(r)
print("Done")

0.8
Done

In [9]:
s = division(5, 0)
print("Done")

ZeroDivisionError: division by zero

In [13]:
division(num = "abc", den = 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Division 2

In [10]:
def division2(num: float, den: float) -> float:
    try:
        d = num / den
        return d
    except Exception as e:
        print(f"Exception occured : {e}")

In [11]:
division2(num = 4, den = 5)

0.8

In [17]:
division2(num = 10, den = 0)
print("Done")

Exception occured : division by zero
Done

In [16]:
division2(num = "abc", den = 12)
print("Done")

Exception occured : unsupported operand type(s) for /: 'str' and 'int'
Done

In [ ]:
r = division2(num = 12, den = 10)

1.2

In [18]:
s = division2(num = 2, den = "abc")
print("Done")

Exception occured : unsupported operand type(s) for /: 'int' and 'str'
Done

# Exception handling for particular errors

In [24]:
def division3(num: float, den: float):
    try:
        return num / den
    except TypeError:
        print("Only 2 numbers can be divided by each other")
    except ZeroDivisionError:
        print("Denominator cannot be zero")

In [20]:
division3(num = 12, den = 13)

0.9230769230769231

In [21]:
division3(num = 14, den = 15)

0.9333333333333333

In [22]:
division3(num = 12, den = 0)

Denominator cannot be zero

In [25]:
division3(num = "abc", den = 12)

Only 2 numbers can be divided by each other

# Raise custom errors
age value should be between 0 and 100

In [26]:
def validate_age(age):
    if age <= 0 or age > 100:
        raise ValueError("Invalid age entered , age should be between 0 to 100")
    else:
        return age

In [28]:
a1 = validate_age(age = 23)
print(a1)

23

In [30]:
try:
    a2 = validate_age(age = -11)
    print(a2)
    print("Done")
except Exception as e:
    print(f"Exception occured : {e}")

Exception occured : Invalid age entered , age should be between 0 to 100

# Try Except Else Finally
1. try - any code to execute
2. except - if code fails
3. else - will execute only if try block is successfull
4. finally - it will always execute

In [31]:
import math

math.sqrt(4)

2.0

In [32]:
def square_root(num):
    try : 
        s = math.sqrt(num)
    except Exception as e:
        print(f"Exception occured : {e}")
    else:
        print(f"Square root of {num} is {s}")
    finally:
        print("Finally block will always be executed")

In [33]:
square_root(num = 24)

Square root of 24 is 4.898979485566356
Finally block will always be executed

In [34]:
square_root(num = "abc")

Exception occured : must be real number, not str
Finally block will always be executed

In [35]:
square_root(num = -12)

Exception occured : math domain error
Finally block will always be executed

In [36]:
math.sqrt(-12)

ValueError: math domain error